<header id="main-header">
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/comment">Comment</a></li>
        </ul>
    </nav>
</header>