<%- include('includes/head.ejs', { title: 'Home' }) %>
</head>


<body>

    <%- include('includes/header.ejs') %>
    
    <main>
        <h1>Welcome to the blog!</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet odit deserunt aspernatur temporibus vitae esse unde beatae id ipsam provident architecto blanditiis, voluptate nostrum illo commodi et fugit tempora! Ex.</p>
    </main>
</body>
</html>




