<%- include('includes/head.ejs', { title: 'login' }) %>
</head>

<body>

    <%- include('includes/header.ejs') %>

    <main>
        
        <h1>Login</h1>
        
        <form action="/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button>Login</button>
        </form>
        <div>
            <a href="/signup">New user? Signup!</a>
        </div>
    </main>
</body>



